<h1>{{book.titulo}}</h1>
        <ul>
            <li><strong>Autor: </strong>{{ book.autor}}</li>
            <li><strong>Editorial: </strong>{{ book.editorial}}</li>
            <li><strong>Paginas: </strong>{{ book.paginas}}</li>
        </ul>