{% extends 'base.html.twig' %}

{% block title %}{{book.titulo}}{% endblock %}

{% block body %}

    {% if book %}
        {{ include ('partials/book_data.html.twig', {'book': book }) }}
    {% else %}
        <h3>Libro no encontrado</h3>
    {% endif %}

{% endblock %}

