{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}

    {% if books %}
        {% for book in books %}
            {{ include ('partials/book_data_link.html.twig', {'book': book }) }}
        {% endfor %}
    {% else %}
        <h3>Libro con el título: {{text}} no encontrado</h3>
    {% endif %}

{% endblock %}
