{% extends 'base.html.twig' %}

{% block title %}Books
{% endblock %}

{% block body %}

	<h1>Book</h1>

	{% if app.user %}
		<h3>Bienvido {{ app.user.email }} a la web de libros</h3>
	{% else %}
		<h3>Bienvido a la web de libros</h3>

	{% endif %}


	<p>Pagina de inicio</p>

	{{ include ('books.html.twig', {'books': books }) }}


{% endblock %}
