{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}

    <h1>Book</h1>
    <h3>Bienvido a la web de libros</h3>
    <p>Pagina de inicio</p>

    {{ include ('books.html.twig', {'books': books }) }}



{% endblock %}